/*
    Document   : layout
    Created on : 21st May, 2016, 04:24:12 PM
    Author     : saorabhkumar
    Description:
    Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/******************************************************
  @group Usualy Common Layout CSS : Start
******************************************************/
html, body {
    background: #ccc;
    color: #000;
    width:100%;
    height:100%;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
/******************************************************
  @group Usualy Common Layout CSS : Ends
******************************************************/
